<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/auto-temp"
      ><span class="import-tag">AutoTemp</span></router-link
    >
    |
    <router-link to="/test">Test</router-link>
  </nav>
  <router-view />
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import { GET_WALLPAPER } from './store/action-types'

@Options({})
export default class App extends Vue {
  mounted () {
    this.$store.dispatch(GET_WALLPAPER)
  }
}
</script>
